/*
------------------------
        GLOBAL
------------------------
*/

body{
    background-image : url("../../../ressources/img/background/body/black/categories.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

#contenant {
    display : flex;
    flex-direction  : column;
    align-items : center;
}

/*
------------------------------------
        BARRE DE NAVIGATION
------------------------------------
*/
#categories_button{
    background-color: #d4a32d;  
}

#categories_button {
    color: white;
}

#categories_button:hover {
    color: black;
}

/*
---------------------------
        CORPS
---------------------------
*/

.lienCate {
    text-decoration: none;
    width : 80%;
    margin : 10px;

}

.categorie
{
    border : 1px solid #fabf41;
    padding-bottom : 40px;
    padding-top : 40px;
    background-image: url("../../../ressources/img/background/others/marbre/black/marbre.jpg");
}

.categorie:hover .titre_categorie{ 
    color : white;
    /*background-image : url("../../../ressources/img/background/others/marbre/white/marbre.jpg");*/
}

.titre_categorie{
    color : #d4a32d;
    text-align : center;
    font-size : 30px;
}

