#title {
    text-align : center;
    text-decoration: overline;
    text-decoration-thickness : 2px;
    font-size : 50px;
    
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 15px;
    padding-top : 20px;
    padding-bottom : 20px;
    width : 30%;    

    border : 1px solid #fabf41;
    color : #d4a32d;
    background : linear-gradient(to right, #0c0a0b, #3a3937, #0c0a0b);
}

.barre_de_nav {
    display : flex;
    justify-content : center;
    margin-bottom : 20px;
}

.mainNavBar {
    display : flex;
    justify-content : space-around;

    width : 40%;
    border : 1px solid #fabf41;
}

.liNav {
    justify-content : center;
    margin : 4px;
    padding : 10px;
}

.txt {
    text-decoration: none;
    color : #d4a32d;
    font-weight : bold;
}

.liNav:hover {
    background : #d4a32d;
}

.liNav:hover .txt{
   color : black;
   font-weight: bold;
}