header{
    margin-bottom : 20px;
}
/*
----------------------
        TITRE
----------------------
*/
#title {
    text-align : center;
    text-decoration: overline;
    text-decoration-thickness : 2px;
    font-size : 50px;
    
    margin-left : auto;
    margin-right : auto;
    margin-bottom : 15px;
    padding-top : 20px;
    padding-bottom : 20px;
    width : 30%;    

    border : 1px solid #fabf41;
    color : #d4a32d;
    background : linear-gradient(to right, #0c0a0b, #3a3937, #0c0a0b);
}

/*
------------------------------------
        BARRE DE NAVIGATION
------------------------------------
*/

.barre_de_nav {
    display : flex;
    justify-content : center;
}

.mainNavBar{
    display : flex;

    justify-content: space-around;

    border: 1px solid #fabf41;
    width : 40%;
}

.lienNav{
    text-decoration: none;

    margin : 4px;
}

.liNav{
    padding : 10px;
    
    color : #d4a32d;
    font-weight : bold;

}

.liNav:hover {
    background-color : #d4a32d;
    color : black;
}

.liNav > p {
    margin : 0px;
}
/*
.mainNavBar {
    
    display : flex;
    border : 1px solid #fabf41;
    width : 40%;

    justify-content : space-around;
}


.liNav {
    display : flex;
    align-items: center;
    margin : 4px;


    text-decoration: none;
    color : #d4a32d;
    font-weight : bold;
    border : 1px solid red;
    
}

.navTxt{
    display: inline;
    border : 1px solid #fabf41;
}

.liNav:hover {
    background : #d4a32d;
}

.liNav:hover{
   color : black;
   font-weight: bold;
}
*/
/*FOOTER*/

footer {
    width : 95%;
    margin-right : auto;
    margin-left : auto;
    margin-top : 15px;
    margin-bottom : 20px;

    padding-top : 5px;
    padding-bottom : 5px;

    text-align : center;
    background-color : #16171b;
    color : #999999;
}

.special {
    color : #d4a32d;

}

#petitTitre {
    text-decoration: overline;
    font-weight : bold;
}