#title {
    text-align : center;
    text-decoration: overline;
    text-decoration-thickness : 2px;
    font-size : 50px;
    background-color : linear-gradient(#0c0a0b, #3a3937, #0c0a0b);
}

.barre_de_nav {
    display : flex;
    justify-content : space-around;
}

.mainNavBar {
    display : flex;
    justify-content : space-around;
    width : 40%;
    border : 1px solid black;
}

.liNav {
    list-style-type: none;
    padding : 5px;
    justify-content : center;
}

.nav {
    text-decoration: none;
    color : black;
}

.liNav:hover {
    background : red;
}