
#title {
    text-align : center;
    margin-left : auto;
    margin-right : auto;
    padding-top : 20px;
    padding-bottom : 20px;
    text-decoration: overline;
    text-decoration-thickness : 2px;
    font-size : 50px;
    width : 30%;    
    border : 1px solid #fabf41;
    background : linear-gradient(to right, #0c0a0b, #3a3937, #0c0a0b);
    color : #d4a32d;
}

.barre_de_nav {
    display : flex;
    justify-content : space-around;
}

.mainNavBar {
    display : flex;
    justify-content : space-around;
    width : 40%;
    border : 1px solid black;
}

.liNav {
    list-style-type: none;
    padding : 5px;
    justify-content : center;
}

.nav {
    text-decoration: none;
    color : black;
}

.liNav:hover {
    background : red;
}