body{
    background-image : url("../../../ressources/img/background/body/white/article.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

/*
------------------------
        GLOBAL
------------------------
*/

#contenant{ 
    display : flex;
    flex-direction : column;
    align-items: center;
}

.titre_partie{
    font-size : 28px;
}

.texte{
    font-size : 18px;
}

.box{
    background-color : #ecf0f1;    
    background-attachment: fixed;
    background-size : 100%;

    margin : 5px;
}
/*
------------------------------------
        BARRE DE NAVIGATION
------------------------------------
*/

#categories_button{
    background-color: #d4a32d;
    color : white;  
}


#categories_button:hover{
    color: black;
}

/*
---------------------
        TITRE
---------------------
*/


#titre{
    width : 60%;
    background-image: url("../../../ressources/img/background/others/marbre/black/marbre.jpg");
    border : 1px solid #fabf41;
    text-align: center;

}
#titre_cate{
    color : #d4a32d;
    font-weight : bold;
}

/*
-------------------------
        ARTICLES
-------------------------
*/
#article{
    width : 80%;
    padding-right : 10px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;

    border : 1px solid #fabf41;
}



.titre{
    color :#16171b;
}
.txt{
    color :#16171b;
    font-size : 20px;

}