body{
    background-image : url("../ressources/img/index1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

#contenant{
    display : flex;
    flex-direction : column;
    align-items: center;
}

/*Temporaire*/
#intro
{
    border : 1px solid #fabf41;
}

#cate {
    border : 1px solid green;
}

#article {
    border : 1px solid blue;
}

/* Final */
.box{
    background-image : url("../ressources/img/marbre.jpg");
    background-attachment: fixed;
    background-size : 100%;
}

h1{
    color : #101010
}

#intro
{
    margin : 10px;
    width : 80%;

}