body{
    background-image : url("../ressources/img/background/body/black/index1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

/*
------------------------
        GLOBAL
------------------------
*/

#contenant{ 
    display : flex;
    flex-direction : column;
    align-items: center;
}

.titre_partie{
    font-size : 28px;
    margin-bottom: 10px;
}

.texte{
    font-size : 18px;
}

/*
------------------------------------
        BARRE DE NAVIGATION
------------------------------------
*/

#accueil_button{
    background-color: #d4a32d;
    color : white;  
}



#accueil_button:hover{
    color: black;
}

/*
---------------------------
        INTRODUCTION
---------------------------
*/

.box{
    background-image : url("../ressources/img/background/others/marbre/marbre.jpg");
    background-attachment: fixed;
    background-size : 100%;

    margin : 5px;
}

#intro
{ 
    width : 80%;

    padding-left : 10px;
    padding-right : 10px;   
    border : 1px solid #fabf41;
}

#intro h1{
    color : #101010;
}

#intro p {
    color : #101010;
    text-align : justify;
    background : linear-gradient(to right, #fdfdfd, #fefefe);
}

/*
---------------------------
        CATÉGORIES
---------------------------
*/

#cate{
    display : flex;
    flex-direction : column;
    width : 80%;
    padding-left: 10px;
    padding-right: 10px;

    border : 1px solid #fabf41;
}

#cate > .titre_partie{
    align-self : center;
    margin-bottom :10px;
}

#bloc_cate{
    
    /*border : 1px solid red;*/
    display : flex;
    justify-content : space-around;
    margin-right: 75px;

}

.lienCate{
    border : 1px solid #fabf41;
    background-image : url("../ressources/img/background/others/marbre/black/marbre.jpg");
    text-decoration: none;
    margin : 10px;
}


.categorie{
    color : #d4a32d;

    font-size : 20px;
    padding : 40px;
    margin : 0px;

}

.lienCate:hover .categorie{
    color : white;
}
/*


/*
-------------------------
        ARTICLES
-------------------------
*/

#article{
    width : 80%;
    padding-right : 10px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    align-items : center;

    border : 1px solid #fabf41;
}

#bloc_article{
    display: flex;
    justify-content: space-around;

}

.lienArticle{
    text-decoration: none;
    border : 1px solid #fabf41;
    width : 45%;

    margin : 10px;
    background-image : url("../ressources/img/background/others/marbre/black/marbre.jpg");
}

.articles{
    padding-right : 10px;
    padding-left: 10px;;

}

.titre_article{
    color : #d4a32d;

}

.txt_article{
    color : #fefefe; 

}

.lienArticle:hover .titre_article{
    color : #fefefe; 
}